# DA Final project:

## Group 43

# Foodborne Disease Outbreaks, 1998-2015
Link to the data source - https://www.kaggle.com/datasets/cdc/foodborne-diseases

###  Name of students:
Liron Zamir<br>
Noy Benhamu<br>
Amit Kroitor<br>

<div>
<img src="https://github.com/LironZamir1006/Foodborne-Disease/blob/main/%D7%AA%D7%9E%D7%95%D7%A0%D7%AA%20%D7%A9%D7%A2%D7%A8%20%D7%98%D7%95%D7%91%D7%94.png?raw=true"></div>

# <b> </b> <b style='color:bleck'>About Dataset</b>


# <b> </b> <b style='color:#40E0D0'>Context</b>
קובץ הנתונים מספק מידע על מקרי מחלות מונשמות על ידי התפרסות אחת או יותר ונגרמות מאותו מזון או שתייה מוזנחת. המידע כולל תקופת זמן של 1998 עד 2015, וכולל פרטים כגון שנה, מדינה, מיקום שבו נערכה ההכנה, מזון המדווח עליו, משפחת המזון שנדבקה בו, הגורם (הזיה, הרעלת חיידקים או חומר כימי) שגרם למחלה, מצב (האם הגורם נאשר או חשוד), סך כל החולים, בתי חולים, ונפטרים. תוך כדי חקירות מחלה רבות, לא מזוהה רכב מזון מסוים; למקרים אלו, המשתנה של המזון ריק.RS).על

___
#  <b id="introductions"> </b> <b style='color:black'>Introduction </b> <b> &  Basic <b style='color:#40E0D0'>EDA. </b>

<b id="Top"> </b>  

1. [Importing Libraries.](#1)
2. [Read Data.](#2)
3. [Checking Behaviour of Dataset.](#3)
4. [conditional selection](#4)


---

<div style="color:white;display:fill;border-radius:100px;
            background-color:#03112A;font-size:10%; 
            letter-spacing:1.0px;background-image: url(https://i.imgur.com/GVd0La1.png)">
    <p style="padding: 8px;text-align: center;color:white; border-radius: 5px; padding-top: 5px; padding-bottom: 10px;"><b><b><span style='color:#2ae4f5''></span></b>   </b></p>
</div>

## <b>1.Importing </b> <b style='color:#40E0D0'>Libraries.</b>

In [1]:
import pandas as pd

## <b id='Read-data'>2.Read </b> <b style='color: #40E0D0'>Data.</b>

In [2]:
url = 'https://raw.githubusercontent.com/LironZamir1006/Foodborne-Disease/main/Foodborne%20Disease%20Outbreaks%2C%201998-2015.csv'
food_df = pd.read_csv(url)

In [3]:
food_df.head()

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0

### <b>3.Checking Behaviour </b> <b style='color:#40E0D0'>of Dataset.</b>

In [4]:
type(food_df)

pandas.core.frame.DataFrame

In [5]:
len(food_df)

19119

In [6]:
food_df.shape

(19119, 12)

In [8]:
food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19119 entries, 0 to 19118
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               19119 non-null  int64
 1   Month              19119 non-null  object
 2   State              19119 non-null  object
 3   Location           16953 non-null  object
 4   Food               10156 non-null  object
 5   Ingredient         1876 non-null   object
 6   Species            12500 non-null  object
 7   Serotype/Genotype  3907 non-null   object
 8   Status             12500 non-null  object
 9   Illnesses          19119 non-null  int64
 10  Hospitalizations   15494 non-null  float64
 11  Fatalities         15518 non-null  float64
dtypes: float64(2), int64(2), object(8)
memory usage: 1.8+ MB

In [7]:
food_df.columns

Index(['Year', 'Month', 'State', 'Location', 'Food', 'Ingredient', 'Species',
       'Serotype/Genotype', 'Status', 'Illnesses', 'Hospitalizations',
       'Fatalities'],
      dtype='object')

food_df['Year'].unique()

### <b>3. </b> <b style='color:#40E0D0'>Contents.</b>

[**1.Introduction & Basic EDA.**](#introductions)

[**2.כותרת2**](#Discounts&Sales)

[**3.כותרת3**](#Pareto-principle)

[**4.כותרת4**](#Prediction-model)

#כותרת2
# <b id = 'Discounts&Sales' > </b> <b style='color:#F05454'>Discounts </b> <b>  lead to sales </b> <b style='color:#F05454'> growth ? </b> <b></b>

In [21]:
#תת כותרת 2

#כותרת3
# <b id = 'Discounts&Sales' > </b> <b style='color:#F05454'>Discounts </b> <b>  lead to sales </b> <b style='color:#F05454'> growth ? </b> <b></b>

In [11]:
#תת כותרת 3

#כותרת4
# <b id = 'Discounts&Sales' > </b> <b style='color:#F05454'>Discounts </b> <b>  lead to sales </b> <b style='color:#F05454'> growth ? </b> <b></b>

In [12]:
#תת כותרת 4